<p>Adventures with TDD - More Complicated - Part 1 - The Requirements</p>
<ul>
    <li>Take an input</li>
    <li>Convert input to selected output</li>
    <li>Supported outputs
        <ul>
            <li>Binary</li>
            <li>Octal</li>
            <li>Decimal</li>
            <li>Hexidecimal</li>
        </ul>
    </li>
    <li>Create Sequences based on input and selected increment value</li>
    <li>Supported increment values
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </li>
    <li>Sort sequence ascending</li>
    <li>Sort sequence descending</li>
</ul>

@Html.Partial("Navigation")