@model AdventuresInTDD_Part2.Models.SequenceResultModel

@{
    ViewBag.Title = "SequenceResults";
}

<h2>SequenceResults</h2>
<label>Result</label>
<br />
@foreach (string value in Model.Sequence)
{
    <p>@value</p>
}

@Html.Partial("Navigation")

